{% extends('base.html.twig') %}

{% block title %}
    Listado de usuarios | Symfony
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <div ng-app="user" ng-controller="UserController">
        <h1>Hola Mundo</h1>
        <a href="{{ path('createUser') }}" class="btn btn-primary">Registrar usuario</a>
        <a href="{{ path('report_pdf_user') }}" class="btn btn-danger">Generar PDF</a>
        <a href="{{ path('report_excel_user') }}" class="btn btn-success">Generar Excel</a>
        
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="fillUsers"></tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('../templates/user/users.js') }}"></script>
{% endblock %}